.puyo-drop {
  min-height: 770px;
  min-width: 396px;
  background-color: rgba(135, 206, 235, 0.95);
  border: 5px solid rgb(47, 152, 244);
  display: flex;
  position: relative;
}

/* gradient */
/* drop shadow */

.grid-box {
  height: 64px;
  width: 66px;
}

.controls {
  margin-right: 10px;
  width: 300px;
  padding: 20px;
  background-color: rgba(33, 58, 44, 0.97);
  display: flex;
  flex-direction: column;
  color: white;

  div {
    margin-bottom: 15px;
  }
}

.game-stats {
  margin-left: 10px;
  padding: 20px;
  background-color: rgba(33, 58, 44, 0.97);
  display: flex;
  flex-direction: column;
  width: 100px;
  color: white;

  &> div {
    display: flex;

    &:first-child {
      margin-bottom: 10px;
    }

    p {
      margin-left: 5px;
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;

  button {
    margin-right: 15px;
    border-radius: 5px;
    border: none;
  }
}

.game-over-modal {
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 780px;
  width: 100%;
  color: white;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.high-scores {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  h6 {
    margin-bottom: 10px;
  }
}
