* {
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url(https://files.gamebanana.com/img/ss/srends/5bf0a388b67da.jpg);
  background-size: cover;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
